<launch>
    <arg name="use_sim_time" default="true" />
	<arg name="auto_capture" default="true" />

	<node name="object_detector" pkg="martian_detector" type="object_detector">
		<param name="camera_topic" value="/camera/image_raw/compressed" />
		<param name="aws_region" value="$(optenv AWS_REGION us-east-1)" />
		<param name="auto_capture" value="$(arg auto_capture)" />
	</node>

	<node name="notifier" pkg="martian_detector" type="notifier" >
	    <param name="s3_bucket_name" value="$(optenv S3_BUCKET)" />
	    <param name="search_object" value="Alien" />
	</node>
</launch>
